body {
  max-width: 100%;
}
.navbar {
  box-shadow: 2px 2px 5px #000;
  opacity: 1;
  max-width: 100%;
}

.main-header{
  background: url(../img/fondo.jpg);
  background-size: cover;
  min-height: 610px;
  position: relative;
}

.main-carac, .main-hotel {
  position: relative;
  max-width: 100%;
}

.background-overlay{
  position: absolute;
  background-color: rgba(230, 126, 34,.5);
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

h1 {
  font-family: 'Righteous', cursive;
}

h2 {
  font-family: 'Dancing Script', cursive;
  color: antiquewhite;
}

.btn, #dropdownMenuButton {
  border-radius: 0;
}

footer {
  background-color: rgba(52, 73, 94,1.0);
}

/* NAVEGADOR */
::-webkit-scrollbar{
  background-color:#202324;
  color: #aba499;
}

::-webkit-scrollbar-thumb{
  background-color: #454a4d;
}

.legal {
  color: antiquewhite;
}